__pycache__
*.ckpt
*.safetensors
*.pth
*.onnx
*.gguf
lena.png
lena_result.png
lena_test.py
!taesdxl_decoder.pth
/repositories
/venv
/tmp
/ui-config.json
/outputs
/config.json
/log
/webui.settings.bat
/embeddings
/params.txt
/webui-user.bat
/webui-user.sh
/interrogate
/user.css
/.idea
notification.mp3
/SwinIR
/textual_inversion
.vscode
/extensions
/test/stdout.txt
/test/stderr.txt
/cache.json*
/config_states/
/node_modules
/package-lock.json
/.coverage*
/wildcards/*
!/wildcards/colors.txt
models/vae/config.json
settings.json
styles.csv
!/random_prompt/csvfiles/templates/styles.csv
paths.json
notification.mp3
resolutions.json
powerup.json
performance.json
*.old
/models/loras/*.txt
/models/loras/*.jpeg
/models/loras/*.jpg
/models/loras/*.gif
/models/checkpoints/*.jpeg
/models/checkpoints/*.jpg
/models/checkpoints/*.gif
/models/diffusers/*
/models/clip/*
/cache/loras/*.txt
/cache/loras/*.jpeg
/cache/loras/*.jpg
/cache/loras/*.gif
/cache/loras/*.json
/cache/checkpoints/*.jpeg
/cache/checkpoints/*.jpg
/cache/checkpoints/*.gif
/cache/checkpoints/*.json
random_prompt/userfiles/obp_presets.json
reinstall
prompt_expansion/pytorch_model.bin
/superprompter/model_files
models/upscale_models/*.jpeg
.gradio/flagged/dataset1.csv
